@use'../variaveis';

.infos-bar{
    padding: 4px 26px;
    border-radius:4px ;
    background-color:variaveis.$textColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__infos{
        display: flex;
        gap: 40px;

        &__item{
            font-size: 14px;
            color: variaveis.$secondaryTextColor;

            b{
                color: variaveis.$secondaryTextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px){
       display: block;

       &__infos{
           display: block;
      
              &__item{
                margin-bottom: 24px;
              }
       }
        
    }
    @media (max-width: 1024px){

        &__infos{
            gap: 16px;
       
        }
         
     }
}